{# @var root \ChamberOrchestra\MenuBundle\Menu\ItemInterface #}
{# @var child \ChamberOrchestra\MenuBundle\Menu\ItemInterface #}
{# @var matcher \ChamberOrchestra\MenuBundle\Matcher\MatcherInterface #}
{# @var accessor \ChamberOrchestra\MenuBundle\Accessor\AccessorInterface #}
{%- import '@ChamberOrchestraCms/macro/html.html.twig' as html %}

{%- apply spaceless %}
    <nav>
        <ul class="nav nav-aside flex-column" id="nav-aside">
            {%- for child in root %}
                {%- if child.section -%}
                    <section class="nav-section">
                        <h5 class="nav-section-label">{{ child.label|raw }}</h5>
                        <ul class="nav">
                            {%- for child in child.children -%}
                                {%- include '@ChamberOrchestraCms/menu/_menu_item.html.twig' with {child: child, matcher: matcher, accessor: accessor} only -%}
                            {%- endfor -%}
                        </ul>
                    </section>
                {%- else -%}
                    {%- include '@ChamberOrchestraCms/menu/_menu_item.html.twig' with {child: child, matcher: matcher, accessor: accessor} only -%}
                {%- endif -%}

            {%- endfor %}
        </ul>
    </nav>
{%- endapply %}
