@import "../../scss/base";


.image-group {
    .ratio > * {
        border: $border-width solid $border-color;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

// Allow tooltip on disabled buttons in file upload groups
.file-group .btn.disabled[data-bs-toggle="tooltip"] {
    pointer-events: auto;
}